/* main.scss */

@import "_config";

@mixin default-box($width, $height: 150px) {
  width: $width;
  height: $height;
  background-color: $color-primary;

  border: {
    width: 1px;
    style: solid;
    color: black;
    radius: 5px;
  }
}

body {
  background-color: beige;
}

.box {
  @include default-box(300px, 300px);
  display: grid;
  place-items: center;

  a {
    color: white;
    font-size: 40px;

    &:visited {
      color: black;
    }
  }
}

.button-box {
  @include default-box(100px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
