/* main.scss */
.picture {
  place-items: center;
  display: grid;
}
.header {
  position: fixed;
}
.explain {
  margin-top: 100px;
}
.purple {
  background-color: purple;
  color: white;
  width: 200px;
  border: {
    radius: 10px;
  }
  place-items: center;
}
.main {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 10px;
  place-items: center;
}
.fc {
  place-items: center;
  display: grid;
  width: 1100px;
}

@mixin default-box($size, $height) {
  width: $size;
  height: $height;
  display: grid;
  border: {
    radius: 10px;
    width: 1px;
    style: solid;
    color: black;
  }
  cursor: pointer;
}
.box {
  @include default-box(400px, 50px);
  grid-template-rows: repeat(3, fr);
}

.orange {
  justify-content: center;
  place-items: center;
  width: 100px;
  display: flex;
  border: {
    radius: 5px;
    width: 1px;
    style: solid;
    color: black;
  }
}
